attic/*
.directory
/fpga-elphel/x393
/fpga-elphel/x393_sata
/fpga-elphel/x359
linux-elphel
meta
poky
rootfs-elphel
tools
bootable-images
projects.json
/scripts/.project
/scripts/.pydevproject
/scripts/.settings
