attic/*
.directory
linux-elphel
meta
poky
rootfs-elphel
tools
bootable-images
projects.json
/scripts/.project
/scripts/.pydevproject
/scripts/.settings
/fpga-elphel
!/fpga-elphel/eclipse_workspace_setup
